@import url(fontawesome.css);
@import url("<link href=" https: //fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">");

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;
	}

	body {
		min-height: 100vh;
	}

	a {
		text-decoration: none;
		color: #211f23;
	}

	a:hover {
		color: #8a3c68;
	}

	li {
		list-style: none;
	}

	h1,
	h2 {
		color: #444;
	}

	h3 {
		color: #999;
	}

	.btn {
		background: #8a3c68;
		color: #fff;
		padding: 5px 10px;
		text-align: center;
	}

	.btn:hover {
		color: #8a3c68;
		background: #fff;
		padding: 3px 8px;
		border: 2px solid #8a3c68;
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 15px 10px;
		border-bottom: 2px solid #999;
	}

	table {
		text-align: center;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 20px;
	}

	table tr {
		border-bottom: 2px solid #999;
	}

	table tr:last-child {
		border-bottom: none;
	}


	.side-menu {
		position: fixed;
		background: #8a3c68;
		width: 20vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.side-menu .brand-name {
		height: 15vh;
		display: flex;
		text-transform: uppercase;
		align-items: center;
		padding: 10px 40px;
		width: 100%;
		background-color: #211f23;
	}

	.brand-name h1 a {
		color: #8a3c68;
		font-weight: 600;
	}

	.brand-name h1 a:hover {
		color: #e8a3ca;
		font-weight: 600;
	}

	.side-menu ul {
		margin-top: 30px;
	}

	.side-menu li a {
		font-size: 20px;
		padding: 10px 40px;
		color: #211f23;
		display: flex;
		align-items: center;
		font-weight: 300;
	}

	.side-menu li a:hover {
		background: #fff;
		color: #8a3c68;
	}

	.container {
		position: absolute;
		right: 0;
		width: 80vw;
		height: 100vh;
		background: #f1f1f1;
	}

	.container .header {
		position: fixed;
		top: 0;
		right: 0;
		width: 80vw;
		height: 15vh;
		background: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container .header .nav {
		width: 90%;
	}

	.container .header .nav .user {
		text-align: right;
	}

	.container .content {
		position: relative;
		padding: 20vh 0;
		min-height: 90vh;
		background-color: #f1f1f1;
	}

	.container .content .cards {
		padding: 20px 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.container .content .cards .card {
		width: 250px;
		height: 150px;
		background: #fff;
		margin: 20px 10px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}



	/** crud pages**/
	.container .content .content-table {
		min-height: 60vh;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.container .content .content-table a {
		background-color: #8a3c68;
		color: #fff;
		padding: 15px;
		border-radius: 4px;
	}

	.container .content .forms {
		min-height: 60vh;
		display: block;
	}

	.container .content .content-table .admin-table {
		min-height: 50vh;
		flex: 5;
		background: #fff;
		margin: 0 25px 25px 25px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display: flex;
		flex-direction: column;
		padding: 20px;
	}

	.container .content form {
		min-height: 50vh;
		flex: 5;
		background: #fff;
		margin: 0 25px 25px 25px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display: flex;
		flex-direction: column;
		padding: 20px;
		text-align: center;
	}

	.container .content form label {
		margin-top: 30px;
	}

	.container .content form input,
	.container .content form select {
		padding: 10px 20px;
		margin: 10px 50px;
	}

	.container .content form input[type=submit] {
		background-color: #8a3c68;
		color: #FFF;
		padding: 14px 20px;
		margin: 10px 250px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	.container .content a {
		text-align: center;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}

	.content h4 {
		text-align: center;
		padding: 15px 0;
		color: #fff;
		background-color: #945d7c;
		font-size: 15px;
		margin: 0 50px;
		margin-bottom: 10px;
	}


	@media screen and (max-width: 1050px) {
		.side-menu li {
			font-size: 18px;
		}
	}

	@media screen and (max-width: 940px) {
		.side-menu li span {
			display: none;
		}

		.side-menu {
			align-items: center;
		}

		.side-menu li img {
			width: 40px;
			height: 40px;
		}

		.side-menu li:hover {
			background: #8a3c68;
			padding: 8px 38px;
			border: 2px solid #fff;
		}
	}

	@media screen and (max-width:536px) {
		.brand-name h1 {
			font-size: 16px;
		}

		.container .content .cards {
			justify-content: center;
		}

		.side-menu li img {
			width: 30px;
			height: 30px;
		}

		.container .content .content-table .admin-table table th:nth-child(2),
		.container .content .content-table .admin-table table td:nth-child(2) {
			display: none;
		}


	}